In [8]:
import pandas as pd
import numpy as np

In [9]:
# 任务1: 将列表转化为Numpy数组

data0 = [2, 4, 6.5, 8]

arr0 = np.array(data0)

In [10]:
# 任务2: 新建pandas中的series数据类型,打印出其大小、索引值、值

In [11]:
# pandas中的Series数据类型

s = pd.Series(data=[100, 'a' ,{'dic1': 5 }],
                  index=pd.Index(['id1',20,'third'],name='my_idx'),

                  dtype='object',

                  name='my_name')

In [12]:
s2 = pd.Series(["1","2","3","4"])

In [13]:
s2.index.values

array([0, 1, 2, 3], dtype=int64)

In [14]:
type(s2.values[0])

str

In [15]:
s2.shape

(4,)

In [16]:
s2.size

4

In [17]:
# 创建一个DataFrame
d1= {
   "作者": pd.Series(['余华','残雪','莫言']), 
   "作品": pd.Series(['活着','暗夜','红高粱']), 
   "价格": pd.Series([35,72,38]),
     }
df2 = pd.DataFrame(d1)

In [18]:
df2.shape

(3, 3)

In [19]:
df2.shape

(3, 3)

In [20]:
df2.size

9

In [21]:
df2['作品']

0     活着
1     暗夜
2    红高粱
Name: 作品, dtype: object

In [22]:
df2[['作者','价格']]

   作者  价格
0  余华  35
1  残雪  72
2  莫言  38

In [23]:
df2.values

array([['余华', '活着', 35],
       ['残雪', '暗夜', 72],
       ['莫言', '红高粱', 38]], dtype=object)

In [24]:
贵州茅台原始数据 = pd.read_csv(R'data\600519.CSV')

In [26]:
# 按列查询数据
贵州茅台原始数据['TURNOVER']

0        1410347008
1         463463008
2         194689000
3         177558000
4          86231000
           ...
4089     2694714080
4090    10663392512
4091     5239853056
4092     5581027328
4093     5227695104
Name: TURNOVER, Length: 4094, dtype: int64

In [28]:
贵州茅台原始数据[['TURNOVER','volume']]

         TURNOVER  volume
0      1410347008  406318
1       463463008  129647
2       194689000   53252
3       177558000   48013
4        86231000   23231
...           ...     ...
4089   2694714080   49076
4090  10663392512  204397
4091   5239853056   96885
4092   5581027328   98107
4093   5227695104   89157

[4094 rows x 2 columns]

In [29]:
# 按照行索引
贵州茅台原始数据.loc[0]

day           2001-08-27
STOCK_CODE       6005191
open               34.51
close              35.55
maximum            37.78
minimum            32.85
volume            406318
TURNOVER      1410347008
Name: 0, dtype: object

In [30]:
贵州茅台 = 贵州茅台原始数据.set_index('day')

In [33]:
# loc索引器
# 单个元素
贵州茅台.loc['2001-08-27']

STOCK_CODE    6.005191e+06
open          3.451000e+01
close         3.555000e+01
maximum       3.778000e+01
minimum       3.285000e+01
volume        4.063180e+05
TURNOVER      1.410347e+09
Name: 2001-08-27, dtype: float64